.divehadup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    font-family: 'Rancho', serif;
}

.headup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--cor-neon-3);
}

.cump {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    font-family: 'Rancho', serif;
    
}

.title {
    color: var(--cor-neon-2);
}

.titup {
    color: #fff;
    font-size: 35px;
}

.pup {
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
}

.h3up{
    font-size: 25px;
}

section {
    font-family: 'Poiret one', serif;
}

.secup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

}

.divupsec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    font-family: 'Poiret one', serif;
}

.butup {
    width: 8rem;
    height: 2.5rem;
    padding: 10px;
    background-color: var(--cor-neon-4);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Poiret one', serif; 
    cursor: pointer;
    transition: 0.5s ease;
}

.butup:hover {
    background-color: var(--cor-neon-2);
    transform: scale(1.15);
}

.artigos{
    max-width: 1200px;
    margin:0 auto;
}

.publicacoes{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    margin-top: 30px;
    margin-right:3.5%;
}

.publicacoes section{
    margin-right: 20px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
}

img{ 
    width: 115%;
    height: 195px;
    object-fit: cover;
    border-radius: 10px;
}

.infor{
    width: 300px;
}

section h4{
    margin-top: 9px;
    font-size:20px;
}

.desc {
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.date_and_user{
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-top: 20px;
}

.date{
    font-size: small;
    color:#9c9c9c;
}

.perfil{
    font-size: small;
    color:#9c9c9c;
}

button {
    font-family: 'Poiret one', serif;
}

.botoes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.edit {
    width: 2000px;
    height: 40px;
    background-color: var(--cor-neon-3);
    color: #fff;
    border-radius: 8px;
    border:none;
    cursor:pointer;
    transition: 0.5s ease;
}

.edit:hover {
    background-color: var(--cor-neon-2);
    transform: scale(1.08);
}

.delete {
    width: 2000px;
    height: 40px;
    background-color: var(--cor-neon-1);
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.delete:hover {
    background-color: var(--cor-neon-2);
    transform: scale(1.08);
}


.restodapag {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    margin-top: 2%;
}

.carregarmais {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poiret one', serif; 
    width: 13%;
    height: 20%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: var(--cor-neon-4);
    border-radius: 5px;
    border: 2px solid var(--cor-neon-4);
    cursor: pointer;
    margin-top: -200px;
    transition: 0.5s ease;
}

.carregarmais:hover {
    background-color: var(--cor-neon-4);
    color: white;
    transform: scale(1.08);
}

.form {
    display: flex;
    align-items: center;
    width: 25%;
    height: 70%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
}

.divform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    margin-left: 10%;
    gap: 8px;   
    font-family: 'Poiret one', serif;
}

.infocima {
    margin-bottom: 5%;
}

.butsave {
    width: 95%;
    margin-top: 2%;
    color: #fff;
    background-color: var(--cor-neon-4);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

input[type="text"],
input[type="url"],
textarea {
    width: 95%;
    padding: 8px;
    padding-left: 5px;
    border: 1px solid #2d2d2d;
    border-radius: 5px;
    font-family: 'Poiret one', serif;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(37, 36, 36, 0.6);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.modal-overlay.active {
    display: flex;
    opacity: 1;
    pointer-events: all;
}

.formex {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1%;
    padding-left: 2%;
    gap: 5px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Poiret one', serif;
}

.dbutex {
    display: flex;
    align-items: center;
    margin-top: 3%;
} 

.butex {
    margin-right: 5%;
    width: 45%;
    padding: 5px;
    color: #fff;
    background-color: var(--cor-neon-1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.butcan {
    width: 45%;
    padding: 5px;
    color: #fff;
    background-color: var(--cor-neon-3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modalFadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.modal-overlay .form,
.modal-overlay .formex {
    animation: modalFadeIn 0.5s ease forwards;
}


.modal-overlay.closing .form,
.modal-overlay.closing .formex {
    animation: modalFadeOut 0.3s ease forwards;
}


@media (max-width: 768px) {
    .titup {
        font-size: 30px;
    } 

    .pup {
        font-size: 25px;
    }

    .publicacoes {
        display: flex;
        flex-wrap: wrap;
    }

    .carregarmais {
        width: 30%;
    }
}

@media (max-width: 425px) {
    .titup {
        font-size: 25px;
    } 

    .pup {
        font-size: 20px;
    }

    .publicacoes {
        display: flex;
        flex-direction: column;
    }

    .carregarmais {
        width: 60%;
    }
}