.divtotdes {
    height: 55vh;
    background: var(--cor-neon-2) 
}

.dvoltat {
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    max-width: 1000px;
}

.voltat {
    font-family: 'Poiret one', serif;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.banner {
    margin: 0 auto;
    max-width: 1000px;
    height: 100px;
}

.dimgsobrepo {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.imgsobrepo {
    width: 130%;
    height: 60vh;
    border-radius: 5px;
}

.sobreposicao {
    display: flex;
    justify-content: center;
    font-family: 'Poiret one', serif;
}

.divsobrepo {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 65%;
    max-width: 1200px;
    height: 200px;
    margin-top: 10%;
    gap: 25px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 5px 10px var(--cor-neon-3);
}

.buttag {
    width: 10%;
    border: none;
    background-color: #e6f1fb;
    color: var(--cor-neon-1);
    font-weight: bold;
    font-size: 15px;
    font-family: 'Onest';
}

.infosobre {
    display: flex;
    gap: 12%;
    font-size: 15px;
}

.postLinkd {
    text-decoration: none;
    color: inherit;
}

.artimages .postLink {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    text-decoration: none;
    color: inherit;
}

.postLink {
    display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
    justify-content: space-between;
}

.mainsub {
    margin: 0 auto;
    margin-top: 6%;
    width: 100%;
    max-width: 800px;
    font-family: 'Poiret one', serif;
}

.div1sub {
    margin-right: 1%;
    margin-bottom: 5%;
    padding: 10px;
    border-left: 2px solid var(--cor-neon-3)
}

.mainsub p {
    line-height: 20px;
}

.mainsub h2 {
    margin-top: 5%;
    margin-bottom: 2%
}

.ts  {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    gap: 20px;
}

.ultmain {
    display: flex;
    justify-content: space-between;
    padding-top: 20px ;
    margin-top: 12%;
    margin-bottom: 12%;
    border-top: 1px solid var(--cor-neon-1);
}

.subicons {
    display: flex;
    gap: 30px;
}

.todfoose {
    height: 88vh;
    padding-top: 1px;
    background-color: var(--cor-neon-2);

}

.divseme {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 5%;
    font-family: 'Poiret one', serif;
}

.titseme {
    color: #fff;
    font-size: 30px;
}

.cardsseme {
    display: flex;
    gap: 20px;
    margin: 0 auto;
    margin-top: 2%;
    width: 100%;
    height: 100%;
}

.divcardseme {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
    height: 100%;
}

.imgseme {
    width: 100%;
    height: 30vh;
    border-radius: 5px;
}

.tagseme {
    color: var(--cor-neon-1);
    font-weight: bold;
    font-family: 'Onest';
}

.h4seme {
    color: #fff;
}

.autortempo {
    display: flex;
    gap: 10px;
    color: #e8e8e8;
}

@media (max-width: 768px) {
    .divsobrepo {
        width: 100%;
    }

    .buttag {
        width: 25%;
    }

    .divsobrepo h2{
        font-size: 20px;
    }

    .titseme {
        font-size: 25px;
    }
}

@media (max-width: 425px) {
    .divsobrepo {
        width: 100%;
    }

    .buttag {
        width: 25%;
    }

    .divsobrepo h2{
        font-size: 17px;
    }

    .titseme {
        font-size: 20px;
    }
}