@import url('../Styles/Main.css');

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Gloock&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Fuzzy+Bubbles&family=Gloock&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Fuzzy+Bubbles&family=Gloock&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Onest:wght@100..900&family=Outfit:wght@100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-neon-1: #8BB4DF;
    --cor-neon-2: #7173D4;
    --cor-neon-3: #9c90DD;
    --cor-neon-4: #9156D1; 
}

.divtotcom {
    height: 20vw;
    border: 1px solid black;
}

.headershow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #7173D4;
    font-family: 'Rancho', serif;
}

.divheaderfirst {
    width: 100%;
    max-width: 1200px; 
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divtags {
    display: flex;
    gap: 2.8rem;
    color: #FFF;
    font-size: 25px;
}

.titsho {
    color: #FFF;
    font-size: 36px;
}

button {
    font-family: 'Poiret one', serif;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    font-family: 'Rancho', serif;
    background-color: var(--cor-neon-2);
    margin-top: 5rem;
}

.divfooter {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footext {
    font-size: 25px;
    color: #FFF;
}

.foomenu {
    color: #FFF;
    font-size: 20px;
}

.butfoo {
    color: #FFF;
    background-color: var(--cor-neon-2);
    width: 40px;
    height: 40px;
    border: 1px solid #c7bfbfa5;
    border-radius: 50%;
    cursor: pointer;
}