.meiohead {
    width: 100%;
    height: 80vh;
    background: url('../Images/Background.png');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-family: 'Poiret One', serif;
}

.butmeiodiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.butmeio {
    color: #FFF;
    background-color: var(--cor-neon-3);
    border: none;
    border-radius: 10px;
    width: 6.5rem;
    height: 2.5rem;
    font-family: 'Poiret One', serif;
    font-size: 18px;
}

.textmeio {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 24px;
}

.pmeio {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
}

.ppmeio {
    text-align: center;
}

.botoes{
    margin-top: 20px;
    display: flex;
    gap: 17px;
}

.butconhecer {
    color: #fff;
    background-color: var(--cor-neon-1);
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Poiret One', serif;
    font-size: 18px;
}

.butexplorar {
    color: #fff;
    background-color: var(--cor-neon-4);
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Poiret One', serif;
    font-size: 18px;
}

.mainshow {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    margin-top: 3rem;
    font-family: 'Poiret one', serif;
}

.divimages {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.divimgg {
    width: 60%;
    margin-top: 3%;
}

.divimgg h2{
    font-size: 35px;
    font-family: 'Onest';
}

.imgg {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 5px;
}

.divps {
    display: flex;
    justify-content: space-between;
}

.pdatades{
    font-size: 13px;
}

.ptagdes {
    color: var(--cor-neon-2);
    font-size: 18px;
    font-family: 'Onest';
}

.populares{
    font-size: 28px;
    font-family: 'Onest';
}

.textdest {
    margin-top: 3%;
    font-size: 25px;
}

.barra_pesquisa{
  display: flex;
  align-items: center;
  width: 340px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px var(--cor-neon-4);
  padding: 4px;
}

input[type = "search"] {
  flex: 1;
  padding: 10px 12px;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 8px 0 0 8px ;
}

.busca::placeholder{
    color: rgb(200, 193, 193);
}

.barra_pesquisa button{
  background: var(--cor-neon-4); /* roxo parecido com o da imagem */
  border: none;
  padding: 10px 14px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  color: white;
  font-size: 16px;    
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 30px;

}

.divpimg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin-bottom: 5%;
}

.divpimgs {
    display: flex;
    width: 35vh;
    height: 12vh;
    margin-right: 5%;
}

.divimgp {
    margin-left: 200px;
    margin-top: 5px;
}

.textimg {
    width: 100%;
}

.textimg p {
    width: 100%;
    margin-top: 10px;
}

.pimg {
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

.ptagpop {
    color: var(--cor-neon-1);
    font-weight: bold;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.artigosdiv {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.arttotal {
    margin-top: 10%;
}

.arttotal h3{
    font-size: 40px;
    font-family: 'Onest';
}

.artdimages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3%;
}

.artimages {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 30%;
    gap: 6px;
    
}

.imgsart {
    width: 105%;
    height: 35vh;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 2%;
}

.tagart {
    color: var(--cor-neon-1);
    font-size: 17px;
    font-family: 'Onest';
}

.divbutart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:6%;
}

.date_and_hours{
    font-size: 20px;
}

.butart {
    width: 12%;
    height: 50px;
    font-family: 'Poiret one', serif;
    padding: 5px;
    border: 2px solid var(--cor-neon-4);
    border-radius: 5px;
    background-color: #fff;
    color: var(--cor-neon-4);
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s ease;
}

.butart:hover {
    background-color: var(--cor-neon-4);
    color: white;
    transform: scale(1.1);
}

@media (max-width: 425px) {
    .divtotcom {
        width: 100%;
        max-width: 425px;
    }

    .titsho {
        font-size: 1px;
    }
}