* {
    padding: 0;
    margin: 0;
}

.headershow {
    background-color: #9C90DD;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 10; /* header fica acima da imagem */
    position: relative;
}

/* parte chat gpt */
.banner {
  width: 100%;
    height: 260px;
    overflow: visible;   /* deixa ela invadir o header */
    position: relative;
    z-index: 5;          /* fica atrás do header */
    margin-top: -60px;   /* faz ela subir dentro do header */
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CARD SOBREPOSTO */
.post-card {
  width: 60%;
  background: #fff;
  padding: 25px;
  border-radius: 12px;

  position: relative;
  margin: -70px auto 0 auto; /* faz invadir o banner */
  z-index: 10; /* fica por cima da imagem */
  box-shadow: 0 8px 20px rgba(54, 0, 125, 0.293);
}

/* Estilização opcional */
.categoria {
  font-size: 14px;
  color: #4e82ff;
  font-weight: bold;
}

.conteudo {
  padding: 40px 5%;
}
/* parte chat gpt */




footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    font-family: 'Rancho', serif;
    background-color:#9C90DD;
    margin-top: 5rem;
}

.divfooter {
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footext {
    color: #FFF;
}

.foomenu {
    color: #FFF;
}

.butfoo {
    color: #FFF;
    background-color: var(--cor-neon-2);
    width: 30px;
    height: 30px;
    border: 1px solid #c7bfbfa5;
    border-radius: 50%;
    cursor: pointer;
}