
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Gloock&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.headershow {
    background-color: #9C90DD;
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 10; 
    position: relative;
    font-family: 'Rancho', serif;
    color: #FFF;
}

.but_back{
  border: none;
  color: black;
  height: 30px;
  background-color: #9C90DD;
  height: 200px;
  color: #FFF;
}

.divheaderfirst {
    width: 100%;
    height: 200px;
    max-width: 900px; 
    display: flex;
    justify-content: space-between;
}

.divtags {
    display: flex;
    gap: 1rem;
}

.banner {
    width: 100%;
    height: 260px;
    overflow: visible;   
    position: absolute;
    z-index: 5;         
    margin-top: -60px; 
    bottom: -150px;  
    width: 1216px;
    height: 350px;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: none;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc_total{
  max-width: 800px;
  font-family: 'Poiret One', serif;
  margin: 0 auto;
  margin-top: 200px;
}

.post-card {
  width: 60%;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  position: relative;
  margin: -70px auto 0 auto; 
  z-index: 10;
  box-shadow: 0 8px 20px rgba(54, 0, 125, 0.293);
  bottom: -150px;
  height: 130px;
  font-family:  "Roboto", sans-serif;
}

.desc_content {
  width: 70%;
  max-width: 800px;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.categoria {
  font-size: 12px;
  color: #4e82ff;
  font-weight: bold;
  border:3px solid var(--cor-neon-1);
  background-color: #ccd5ec;
}

.conteudo {
  padding: 40px 5%;
}

.conteudo h3{
  font-family: "Roboto", sans-serif;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
    font-family: 'Rancho', serif;
    background-color:#9C90DD;
    margin-top: 5rem;
}

.divfooter {
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footext {
    color: #FFF;
}

.foomenu {
    color: #FFF;
}

.butfoo {
    color: #FFF;
    background-color: var(--cor-neon-2);
    width: 30px;
    height: 30px;
    border: 1px solid #c7bfbfa5;
    border-radius: 50%;
    cursor: pointer;
}