
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Gloock&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-neon-1:  #8BB4DF;
    --cor-neon-2: #7173D4;
    --cor-neon-3: #9c90DD;
    --cor-neon-4: #9156D1; 
}


.headershow {
    background-color: var(--cor-neon-2);
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 10; 
    position: relative;
    font-family: 'Rancho', serif;
    color: #FFF;
}

.dvoltat {
    margin: 0 auto;
    margin-top: 3px;
    width: 100%;
    max-width: 1000px;
}

.voltat {
    font-family: 'Poiret one', serif;
    color: #fff;
    text-decoration: none;
}

.divheaderfirst {
    width: 100%;
    height: 200px;
    max-width: 900px; 
    display: flex;
    justify-content: space-between;
}

.divtags {
    display: flex;
    gap: 1rem;
}

.banner {
    width: 100%;
    height: 260px;
    overflow: visible;   
    position: absolute;
    z-index: 5;         
    margin-top: -60px; 
    bottom: -170px;  
    width: 1216px;
    height: 380px;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: none;
    border-radius: 8px;
}


.desc_total{
  max-width: 800px;
  font-family: 'Poiret One', serif;
  margin: 0 auto;
  margin-top: 200px;
}

.post-card {
  width: 60%;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  position: relative;
  margin: -70px auto 0 auto; 
  z-index: 10;
  box-shadow: 0 5px 10px rgba(54, 0, 125, 0.293);
  bottom: -170px;
  height: 180px;
  font-family:  "Roboto", sans-serif;
}

.desc_content {
  width: 70%;
  max-width: 800px;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.post-card h1{
  margin-top: 30px;
}
.post-card_desc {
  display: flex;
  max-height: 100%;
}

.post-card_desc p{
  margin-left: 20px;
}

.categoria {
  font-size: 12px;
  color: var(--cor-neon-3);
  font-weight: bold;
  border:node;
  background-color: #dce0eb;
}

.date_and_user{
  display: flex;
  margin-top: 40px;
  gap: 20px;
}

.date_and_user p{
  color: #57555F;
}

.date_and_user button{
  height:2px;
  width: 3px;
}

.conteudo{
  margin-top: 40px ;
}

.topico{
  margin-top: 25px;
}

.conteudo h3{
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}


.compartilhar_conteudo{
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #d2d5dd;
  margin-top: 10% ;
  padding: 30px;
}

.icons{
  display: flex;
  gap: 20px;

}

footer {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: 'Rancho', serif;
  background-color: var(--cor-neon-2);
  margin-top: 5rem;
}

footer h2{
  justify-content: space-between;
  padding: 40px;
  font-size: xx-large;
}

footer main{
  max-width: 1000px;
  margin: 0 auto;
}

.artigos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
}

.artigos img{
    display: flex;
    margin-top: 1%;
    width: 320px;
    gap: 5px;
    height: 150px;
    border-radius: 6px;
}

.divfooter {
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.footext {
    color: #FFF;
}

.foomenu {
    color: #FFF;
}

.butfoo {
    color: #FFF;
    background-color: var(--cor-neon-2);
    width: 30px;
    height: 30px;
    border: 1px solid #c7bfbfa5;
    border-radius: 50%;
    cursor: pointer;
}