.divtotdes {
    height: 40vh;
    background: var(--cor-neon-2) 
}

.dvoltat {
    margin: 0 auto;
    margin-top: 5px;
    width: 100%;
    max-width: 1000px;
}

.voltat {
    font-family: 'Poiret one', serif;
    color: #fff;
    text-decoration: none;
}

.banner {
    margin: 0 auto;
    max-width: 900px;
    height: 100px;
}

.imgsobrepo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    max-width: 1000px;
    margin-top: 2%;
}

.imgsobrepo {
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.sobreposicao {
    display: flex;
    justify-content: center;
    font-family: 'Poiret one', serif;
}

.divsobrepo {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    margin-top: 10%;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px var(--cor-neon-1);
}

.buttag {
    width: 20%;
    border: none;
    background-color: var(--cor-neon-1);
    color: var(--cor-neon-2);
    font-weight: bold;
}



