.divehadup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    font-family: 'Rancho', serif;
}

.headup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--cor-neon-3);
}

.cump {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    font-family: 'Rancho', serif;
}

.title {
    color: var(--cor-neon-2);
}

.titup {
    color: #fff
}

.pup {
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
}

section {
    font-family: 'Poiret one', serif;
}

.secup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.divupsec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    font-family: 'Poiret one', serif;
}

.butup {
    width: 8rem;
    padding: 10px;
    background-color: var(--cor-neon-4);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Poiret one', serif; 
    cursor: pointer;
}

.publicacoes{
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

.publicacoes section{
    margin-right: 5px;
    width: 290px;
}

img{ 
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

section h4{
    margin-top: 9px;
    font-size:20px;
}

.desc {
    margin-top: 8px;
    font-size: small;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.date_and_user{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    width: 55%;
}

.date{
    font-size: small;
    color:#828282;
}

.perfil{
    font-size: small;
    color:#828282;
}

button {
    font-family: 'Poiret one', serif;
}

.botoes {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.edit {
    width: 160px;
    height: 35px;
    margin-right: 15px;
    background-color: var(--cor-neon-3);
    color: #fff;
    border-radius: 8px;
    border:none;
    cursor:pointer;
}

.delete {
    width: 160px;
    height: 35px;
    background-color: var(--cor-neon-1);
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.restodapag {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
}

.carregarmais {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poiret one', serif; 
    width: 10%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: var(--cor-neon-4);
    border-radius: 5px;
    border: 1px solid var(--cor-neon-4);
    cursor: pointer;
}

.form {
    display: flex;
    align-items: center;
    width: 25%;
    height: 70%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
}

.divform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    margin-left: 10%;
    gap: 8px;   
    font-family: 'Poiret one', serif;
}

.infocima {
    margin-bottom: 5%;
}

.butsave {
    width: 95%;
    margin-top: 2%;
    color: #fff;
    background-color: var(--cor-neon-4);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

input[type="text"],
input[type="url"],
textarea {
    width: 95%;
    padding: 8px;
    padding-left: 5px;
    border: 1px solid #2d2d2d;
    border-radius: 5px;
    font-family: 'Poiret one', serif;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(37, 36, 36, 0.6);
    align-items: center;
    justify-content: center;
}

.modal-overlay.active {
    display: flex;
}

.formex {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1%;
    padding-left: 2%;
    gap: 5px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Poiret one', serif;
}

.dbutex {
    display: flex;
    align-items: center;
    margin-top: 3%;
} 

.butex {
    margin-right: 5%;
    width: 45%;
    padding: 5px;
    color: #fff;
    background-color: var(--cor-neon-1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.butcan {
    width: 45%;
    padding: 5px;
    color: #fff;
    background-color: var(--cor-neon-3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}