.headup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--cor-neon-3);
}

.cump {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    font-family: 'Rancho', serif;
}

.title{
    color: var(--cor-neon-2);
}

.titup {
    color: hsl(257, 100%, 94%);
}

.pup {
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
}

.secup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.divupsec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    font-family: 'Poiret one', serif;
}

.butup {
    width: 8rem;
    padding: 10px;
    background-color: var(--cor-neon-4);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Poiret one', serif; 
    cursor: pointer;
}

.publicacoes{
    max-width: 900px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; 
    width: 100%;
    max-width: 900px; 
}

.publicacoes section{
    justify-content: center;
    width: 100%;
    max-width: 287px; 
}

img{ 
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

section h4{
    margin-top: 9px;
    font-size:20px;
}


.desc{
    margin-top: 8px;
    font-size: xx-small;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.date_and_user{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    width: 55%;
}

.date{
    font-size: small;
    color:#C4C4C4;
}

.perfil{
    font-size: small;
    color:#C4C4C4;
}

.botoes {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.edit{
    width: 160px;
    height: 35px;
    margin-right: 15px;
    background-color: var(--cor-neon-3);
    color: #fff;
    border-radius: 8px;
    border:none;
    cursor:pointer;
}

.delete{
    width: 160px;
    height: 35px;
    background-color: var(--cor-neon-1);
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.restodapag {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
}

.carregarmais{
    font-weight: bold;
    font-size: 20px;
    width: 160px;
    background-color: rgb(255, 255, 255);
    color: var(--cor-neon-4);
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    font-family: 'Poiret one', serif; 
    cursor: pointer;

}

