.divtotdes {
    height: 40vh;
    background: var(--cor-neon-2) 
}

.dvoltat {
    margin: 0 auto;
    margin-top: 5px;
    width: 100%;
    max-width: 1000px;
}

.voltat {
    font-family: 'Poiret one', serif;
    color: #fff;
    text-decoration: none;
}

.banner {
    margin: 0 auto;
    max-width: 1000px;
    height: 100px;
}

.dimgsobrepo {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.imgsobrepo {
    width: 100%;
    height: 50vh;
    border-radius: 5px;
}

.sobreposicao {
    display: flex;
    justify-content: center;
    font-family: 'Poiret one', serif;
}

.divsobrepo {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 60%;
    max-width: 1000px;
    margin-top: 10%;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px var(--cor-neon-3);
}

.buttag {
    width: 10%;
    border: none;
    background-color: #d4e9ff;
    color: var(--cor-neon-2);
    font-weight: bold;
}

.infosobre {
    display: flex;
    gap: 5%;
}

.postLinkd {
    text-decoration: none;
    color: inherit;
}

.artimages .postLink {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    text-decoration: none;
    color: inherit;
}

.postLink {
    display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
    justify-content: space-between;
}

.mainsub {
    margin: 0 auto;
    margin-top: 3%;
    width: 100%;
    max-width: 800px;
    font-family: 'Poiret one', serif;
}

.div1sub {
    margin-right: 1%;
    margin-bottom: 5%;
    padding: 10px;
    border-left: 2px solid var(--cor-neon-3)
}

.mainsub p {
    line-height: 20px;
}

.mainsub h2 {
    margin-top: 5%;
    margin-bottom: 2%
}

.ts  {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    gap: 20px;
}

.ultmain {
    display: flex;
    justify-content: space-between;
    padding-top: 20px ;
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: 1px solid var(--cor-neon-1);
}

.subicons {
    display: flex;
    gap: 15px;
}

.todfoose {
    height: 80vh;
    padding: 5px;
    background-color: var(--cor-neon-2);
}

.divseme {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 5%;
    font-family: 'Poiret one', serif;
}

.titseme {
    color: #fff;
}

.cardsseme {
    display: flex;
    gap: 20px;
    margin: 0 auto;
    margin-top: 2%;
    width: 100%;
    height: 100%;
}

.divcardseme {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
    height: 100%;
}

.imgseme {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.tagseme {
    color: var(--cor-neon-1);
    font-weight: bold;
}

.h4seme {
    color: #fff;
}

.autortempo {
    display: flex;
    gap: 10px;
    color: #e8e8e8;
}