@import url('../Styles/Main.css');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Gloock&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gloock', serif;
}

:root {
    --cor-neon-1:  #8BB4DF;
    --cor-neon-2: #7173D4;
    --cor-neon-3: #9c90DD;
    --cor-neon-4: #9156D1; 
}

.divtotcom {
    background-color: var(--cor-neon-3);   
    height: 300px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divheaderfirst {
    width: 100%;
    max-width: 800px; 
    margin-top: 10px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divtags {
    display: flex;
    gap: 1rem;
    color: #FFF;
}

.titsho {
    color: #FFF;
}