* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gloock', serif;
}

header{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 36px;
    margin-top: 21px;
}

.post{
    max-width: 1900px;

}
